
<main>
    <div class="aventyrhead"></div>
    <div class="aventyrtext"><p>Äventyr1</p> <h3> Ett unikt möjlighet för dig som vill ha kul. Vi erbjuder en dags åktrip 
    till den kända floden "denkändafloden". Där kommer vi vandra längs den och uppleva dess vildhet och fröjd för ögat. Det kommer 
    bli ett äventyr. Men vad är Äventyr? Ett äventyr är en 
    aktivitet som innebär risker eller osäkert utfall, och som ofta ställer krav på deltagarna. Gemensamt för äventyr är att de ger starka upplevelser, antingen positiva (flow) eller negativa (skräck).
    Äventyr kan vara en planerad fritidsaktivitet, som typiskt är en resa i naturen, utanför anlagda vägar, eller ett besök i en främmande kultur.
    Det finns också professionella äventyrare, som försörjer sig på verksamheten kring äventyr. Vi är äventyrarna</h3></div>
</main>