


<!-- <a id="button2" href="buy.html"> <div class="p">BUY</div></a> -->


<main>
    <div class="indexbox1">
        <div class="innerindexbox1"><p>Följ med oss på ett äventyr i det vilda och lär 
        dig nya saker!</p></div>
    </div>
    <div class="indexbox2">
        <div class="innerindexbox2"><p>Ett himselskt pardis-Fake News. 10/10 would recommend-Fake News2</p></div>
    </div>
</main> 
<footer> <p> 
     Call me: madeupnumber 232301203240
     Mail: ärintenaturenheltotroligsåvarförintevarauteiden?@gmail.com </p> </footer>


