


<!-- <a id="button2" href="buy.html"> <div class="p">BUY</div></a> -->


<div class="menu"></div>
<main>
    <div class="indexbox1">
        <div class="innerindexbox1"><p>Hello my name is Carl, what's your name?</p></div>
    </div>
    <div class="indexbox2">
        <div class="innerindexbox2"><p>Some people are nice and some are bad, is that not weird?</p></div>
    </div>
</main> 
<footer> <p> 
     Call me: madeupnumber 232301203240 </p> </footer>


