<main>
        <div class="content">
                <div class="infobild1"></div>
                
                <div class="infobild2"></div>
                
                <div class="infobild3"></div>
                
                <div class="infobild4"></div>
        </div>    
</main>

<footer> 
        <p>Vår produkt sdas asd asdas dasda sdasdasdas dasd asd</p>
        
</footer>