<main>
        <div class="content">
                <div class="infobild1"></div>
                
                <div class="infobild2"></div>
                
                <div class="infobild3"></div>
                
                <div class="infobild4"></div>
        </div>  
         
</main>

<footer> 
        <p>Vår produkt är att alla ska kunna vara ute och ha roligt. Problemet med naturen är
        att den ofta är trist. Vi erbjuder ett äventyr i en vacker miljö som kommer göra en 
        längtandes tills nästa gång.
                                        </h3>         
</footer>