<main>
  
    <div class="aventure1"> <a href="aventy1.html">  <p>Äventyr1</p> </a> </div>

    <div class="navaventure1">name of aventure</div>

    </a>
    <div class="aventure2"> <a href="aventy2.html">  <p>Äventyr2</p> </a> </div>

    <div class="navaventure2">name of aventure</div>
   
    

</main>

