<main>
  
    <div class="aventure1"> <a href="aventy1.html">  <p>The River</p> </a> </div>

    <div class="navaventure1">1000kr</div>

    </a>
    <div class="aventure2"> <a href="aventy2.html">  <p>The Candy Cane</p> </a> </div>

    <div class="navaventure2">1500kr</div>
   
    

</main>

