body 
    width: 100vw
    height: 100vh 
    margin: 0
    display: grid
    grid-template-rows: 25% 75% 5%
    grid-template-areas: "header" "main" "footer"

header 
    width: 100vw 
    background-color: red
    // background-image: url(../img/)
    margin: 0
    grid-area: header 
p 
    text-align: center
    color: white
    font-size: 2rem
main 
    grid-area: main
.indexbox1
    width: 80%
    height: 45%
    background-color: orange
    margin: auto
    margin-top: 5%
.innerindexbox1
    width: 90%
    height: 70%
    background-color: white
    margin: auto
    
    
.indexbox2 
    width: 80%
    height: 45%
    background-color: orange
    margin: auto
    margin-top: 5%

footer  
    width: 100%
    height: 100%
    margin-top: 50px
    background-color: yellow 
    grid-area: footer 
.menu 
    height: 100vh
    width: 45vw
    background-color: lightblue
    position: fixed
    top: 0
    left: -90vw
    transition: left 0.3s
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75)
    z-index: 10

.menu-button
    cursor: pointer
    display: inline

i 
    font-size: 3rem
    
.menu-button i.material-icons
    font-size: 2rem


.show
    left: 0


.fade-layer
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.5)
    display: none
    z-index: 5


.fade-layer.visible
    display: block
